<footer class="w-full h-40 flex fixed z-30 bottom-0 ">
  <div class="filter-blur bottom-0 backdrop-blur-md w-full"></div>
</footer>

<style>
  .filter-blur {
    mask-image: linear-gradient(to top, #000000 60%, transparent);
  }
</style>
