<header class="w-full h-10 flex fixed z-30">
  <div class="filter-blur absolute inset-0 backdrop-blur-xs w-full h-20  "></div>
</header>

<style>
  .filter-blur {
    mask-image: linear-gradient(to bottom, #000000 20%, transparent);
  }
</style>
