---
import SocialMedia from "../components/Social.astro";
import { Image } from "astro:assets";

---

<!-- HERO-FULL -->
<section
  class="flex flex-col justify-center items-center mt-8 mb-4 mx-auto max-w-4xl"
  aria-labelledby="hero-title"
>
  <!-- HERO IMG-->
  <div class="flex flex-col sm:mx-0 w-auto">
    <figure class="relative m-0 mt-3 gap-x-6 flex content-end items-end group border-[1px] border-white w-fit">
      <div
        class="absolute -bottom-3 left-2.5 h-38 w-38 border-white border-[1px] z-10 transition-color  duration-400 group-hover:translate-x-[6px] group-hover:translate-y-[6px] group-hover:border-white/30 group-hover:bg-black/20  ease-in "
      >
      </div>

      <img
        src="/src/assets/fotoperfil.webp"
        alt="Foto de perfil de Alan San, desarrollador frontend"
        class=" bg-[#1C1918]  p-[6px] w-34 h-34 object-cover z-20 "
      />
    </figure>

    <div class="items-center md:block w-auto mt-10">
      <h1
        id="my-name-md"
        class="font-king ligero  text-sm mb-0 md:flex opacity-60"
      > Sobre mí
      </h1>
      <p id="hero-description" class="font-alpha my-3 text-lg md:text-2xl ">
       Mi nombre es Alan Sandoval y tengo +3 años de experiencia como desarrollador web.
       Me especializo en el frontend y tengo un gran interés en el diseño de interfaces. 
       aqui puedes ver algunos de mis proyectos y si ves algo que te guste puse... let's be friends.
      </p>
      <SocialMedia />
    </div>
  </div>
</section>

<style>
  .line {
    line-height: 95%;
  }
  /* @keyframes vhs {
    0% {
      text-shadow:
        -1px 1px 8px hsla(0, 0%, 10%, 0.9),
        1px -1px 8px rgba(255, 255, 235, 0.2),
        0 0 1px rgba(251, 0, 231, 0.5),
        0 0 3px rgba(0, 233, 235, 0.5),
        0 0 3px rgba(0, 242, 14, 0.5),
        0 0 3px rgba(244, 45, 0, 0.5),
        0 0 3px rgba(59, 0, 226, 0.5);
    }
    25% {
      text-shadow:
        -1px 1px 8px hsla(0, 0%, 10%, 0.9),
        1px -1px 8px rgba(255, 255, 235, 0.1),
        0 0 1px rgba(251, 0, 231, 0.5),
        0 0 3px rgba(0, 233, 235, 0.5),
        0 0 3px rgba(0, 242, 14, 0.5),
        0 0 3px rgba(244, 45, 0, 0.5),
        0 0 3px rgba(59, 0, 226, 0.5);
    }
    45% {
      text-shadow:
        -1px 1px 8px hsla(0, 0%, 30%, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.1),
        5px 0 1px rgba(251, 0, 231, 0.5),
        0 5px 1px rgba(0, 233, 235, 0.5),
        -5px 0 1px rgba(0, 242, 14, 0.5),
        0 -5px 1px rgba(244, 45, 0, 0.5),
        5px 0 1px rgba(59, 0, 226, 0.5);
    }
    50% {
      text-shadow:
        -1px 1px 8px hsla(0, 0%, 30%, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.1),
        -5px 0 1px rgba(251, 0, 231, 0.5),
        0 -5px 1px rgba(0, 233, 235, 0.5),
        5px 0 1px rgba(0, 242, 14, 0.5),
        0 5px 1px rgba(244, 45, 0, 0.5),
        -5px 0 1px rgba(59, 0, 226, 0.5);
    }
    55% {
      text-shadow:
        -1px 1px 8px hsla(0, 0%, 30%, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.1),
        0 0 3px rgba(251, 0, 231, 0.5),
        0 0 3px rgba(0, 233, 235, 0.5),
        0 0 3px rgba(0, 242, 14, 0.5),
        0 0 3px rgba(244, 45, 0, 0.5),
        0 0 3px rgba(59, 0, 226, 0.5);
    }
    90% {
      text-shadow:
        -1px 1px 8px hsla(0, 0%, 10%, 0.9),
        1px -1px 8px rgba(255, 255, 235, 0.1),
        -5px 0 1px rgba(251, 0, 231, 0.5),
        0 5px 1px rgba(0, 233, 235, 0.5),
        5px 0 1px rgba(0, 242, 14, 0.5),
        0 -5px 1px rgba(244, 45, 0, 0.5),
        5px 0 1px rgba(59, 0, 226, 0.5);
    }
    100% {
      text-shadow:
        -1px 1px 8px hsla(0, 0%, 10%, 0.9),
        1px -1px 8px rgba(255, 255, 235, 0.1),
        5px 0 1px rgba(251, 0, 231, 0.5),
        0 -5px 1px rgba(0, 233, 235, 0.5),
        -5px 0 1px rgba(0, 242, 14, 0.5),
        0 5px 1px rgba(244, 45, 0, 0.5),
        -5px 0 1px rgba(59, 0, 226, 0.5);
    }
  }

  .vhs-effect {
    animation: vhs 1s steps(18) 0s infinite alternate;
  } */

  .ligero {
    font-weight: 300;
  }
</style>

<!-- <script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  // Register GSAP plugins
  gsap.registerPlugin(SplitText);
  gsap.registerPlugin(ScrollTrigger);

  // Create SplitText instance
  const Text = new SplitText("#hero-description", {
    type: "words",
    charsClass: "char",
  });

  // Animate words using GSAP
  gsap.from(Text.words, {
    duration: 1.0,
    opacity: 0,
    y: 10,
    stagger: 0.1,
    filter: "blur(10px)",
    delay: 0.3,
  });
</script> -->
