<!-- FRONT-END-SM-->
<div
  class="flex flex-col md:items-center md:justify-center max-w-5xl p-2 gap-y-2 font-display text-8xl md:text-9xl uppercase z-20 "
>
  <div class="md:hidden flex flex-col w-fi mt-4">
    <span class="hover:text-pink-400">Front</span>
    <div class="flex items-end">
      <div id="linea-sm" class="h-[2px] w-24 bg-white"></div>
      <span class="hover:text-pink-400">End</span>
    </div>

    <!-- DEVEL OPER -->
    <div class=" group">
      <span class="group-hover:text-pink-400">Devel</span>
      <span class="group-hover:text-pink-400">Oper</span>
    </div>
     <div class=" flex flex-row lg:my-5 items-center gap-x-1">
      <div class=" rounded-full w-14 h-14   border-white/60 border-[1px] relative">
        <img src="/imagenes/FotoPerfil.webp" alt="Mi foto de perfil" class=" absolute w-14 h-14 rounded-full border-white/60 border-[1px] p-1">
      </div>
      <h1 id="my-name" class="mt-0 mb-0 ml-2 text-xl md:hidden">Alan san</h1>
    </div>
  </div>
</div>

<!-- FRONT-END-MD -->
<div
  id="frontend-md "
  class="hidden md:flex md:flex-col mt-32 md:pl-8 lg:pl-44 font-display  uppercase w-full z-20"
>
  <div class="hidden md:flex md:flex-col w-fit ">
    <div class=" lg:my-5">
      <h1 id="my-name" class="mt-0 mb-0 md:text-xl lg:text-5xl md:block">Alan san</h1>
    </div>
    <div class="flex">
      <span class=" md:text-5xl lg:text-8xl hover:text-pink-400">Front</span>
      <div class="flex items-center">
        <div id="linea-md" class="h-[2px] md:w-10 lg:w-54 bg-white mt-7"></div>
        <span class=" md:text-5xl lg:text-9xl hover:text-pink-400"> End</span>
      </div>
    </div>
    <div class=" hover:text-pink-400 ml-12 md:-translate-y-1 -translate-y-5 ">
      <span class=" md:text-5xl lg:text-9xl ">Developer</span>
    </div>
  </div>
</div>
