<!-- HERO-FULL -->
<div class="w-[90%] h-auto flex flex-col mt-8 z-20">
  <!-- HERO SM -->
  <div class="cursor-pointer md:hidden h-full">
    <h2 class="font-display text-[90px] line uppercase break-words my-0">
      Front <span class="bg-pink-500 w-18 h-[2px] inline-block -translate-y-4"
      ></span>End Developer
    </h2>
    <!-- FOTO PERFIL -->
    <div class="flex flex-row items-center gap-x-1 md:hidden">
      <div class="rounded-full w-14 h-14 border-white/60 border-[1px]">
        <img
          src="/imagenes/FotoPerfil.webp"
          alt="Mi foto de perfil"
          class="absolute w-14 h-14 rounded-full border-white/60 border-[1px] p-1"
        />
      </div>
      <h1
        id="my-name"
        class="mt-0 mb-0 ml-2 font-display text-lg uppercase md:hidden"
      >
        Alan san
      </h1>
    </div>
  </div>
  <!-- HERO MD-->
  <div class="flex flex-col">
    <div class="cursor-pointer md:flex md:w-fit hidden md:flex-col h-full">
      <h2 class="font-display text-3xl uppercase">
        Front <span class="bg-pink-500 w-10 h-[2px] inline-block -translate-y-2"
        ></span>End <br /><span class="inline-block translate-x-10"
          >Developer</span
        >
      </h2>
    </div>
    <!-- imgagen md  -->
    <div class="hidden items-center gap-x-1 md:block">
      <div
        class="rounded-full w-18 h-18 border-white/60 border-[1px] flex-col ml-6"
      >
        <img
          src="/imagenes/FotoPerfil.webp"
          alt="Mi foto de perfil"
          class="absolute w-18 h-18 rounded-full border-white/60 border-[1px] p-1"
        />
      </div>
      <h1
        id="my-name"
        class="mb-0 font-mono text-xl uppercase hidden md:flex mt-5 ml-4"
      >
        Alan san
      </h1>
    </div>
  </div>
</div>

<style>
  .line {
    line-height: 95%;
  }
</style>
